@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme{
    --font-poppins: "Poppins", sans-serif;

    --color-coffe-500: #38220f;
    --color-coffe-400: #634832;
    --color-coffe-300: #967259;
    --color-coffe-200: #dbc1ac;
    --color-coffe-100: #ece0d1;
}

*{
    font-family: "Poppins", sans-serif;
}

/* @media (max-width: 768px){
    .list-navbar{
        display: none;
    }
} */